body{
    box-sizing: border-box;
}

header{ 
    width: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.top-nav {
    background-color: #5995ED!important;
}

.page-nav {
    margin-top: 56px;
}

.search-nav {
  width: 100%;
}

#filter-nav {
    display: flex;
    flex-direction: column;
}

.blade-heading {
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    height:35px;
}
.meal-filter{
    height: 100px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.mealCheckbox {
    margin: .5rem;
}

.ingredient-filter{
width: 100%;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

.ingredient-input-list {
padding-right: 20px;
border-right: solid;
border-right-width: 1px;
border-right-color: ivory;
}

.ingredient-input {
    margin-bottom: 2px;
}

.ingredient-btns {
    width: 25%;
    padding-left: 5px;
}

#ingredientAddBtn {
    margin-bottom: 5px;
}

#ingredientBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -54.55px;
}

.closebtn:hover {
    cursor: pointer;
}

#name-input {
    margin-top: 45px;
    align-self: center;
    width:80%;
}
#nameBtn {
    margin-top: 3rem;
    width: 50%;
    align-self: center;
}

.recipe-list a {
    text-decoration: none;
    color: #2c363f;
}
.card-img-height {
    height: 250px;
}

.flex-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }


.grow { 
    transition: all .2s ease-in-out; 
     }
.grow:hover { 
    transform: scale(1.1); 
}

.mealCard { 
    background-color: #f2f5ea;

}
.mealCard:hover {
    cursor: pointer;
}

.modal-list {
    margin: 1rem;
    border-bottom: grey;
}

.modal-ingredient {
    font-weight: bold;
    color: hotpink;
}

.instructions-heading {
    margin-left: 1rem;
}

.button {
    background-color: #4A8FE7!important;
}